<h1>Welcome</h1>

<p>This web site handles the organization, planning, and registration processes for LARP events.</p>

<h2>Sign up today!</h2>
  
<p>If you were logged in, you'd be able to see the events you were signed up for, and sign up for more
awesome LARP events.  Why not 
<%= link_to 'create your account', :controller => 'signup', :action => 'form' %> right now?</p>
