<p>
  <p><i>Note: All template fields allow ERb template commands.  Use with caution.</i></p>
  <p>
    <b>Template name:</b>
    <%= f.text_field :name %>
  </p>
  <p>
    <b>CSS for page</b><br/>
    <%= f.text_area :css %>
  </p>
  <p>
    <b>Page Header</b><br/>
    <%= f.text_area :header %>
  </p>
  <p>
    <b>Page Footer</b><br/>
    <%= f.text_area :footer %>
  </p>
  <%= submit_tag "Create" %>
</p>