<style type="text/css">
table.schedulebody, table.scheduleheader {
  border-collapse: collapse;
  border: 1px #aaa solid;
  width: 100%;
}

.schedule {
  position: relative;
}

.scheduleheader tr th {
  border-bottom: 1px #aaa solid;
  border-left: 1px #aaa solid;
}

.schedule tr td {
  border-bottom: 1px #aaa solid;
  background-color: #eee;
  font-size: 12px;
}

div.event {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px black solid;
  font-size: 14px;
}

div.signedup {
  border: 2px black solid;
}

div.waitlist {
  border-style: dashed;
}
</style>

<% if @events.size == 0 -%>
  <p>There are no events on this schedule.</p>
<% else -%>
  <% @blocks.each do |block| -%>
    <%= schedule_block(@schedule, block) %>
  <% end -%>
<% end -%>
