<table id="public_info_fields">
  <% f.fields_for :public_info_fields do |pif| -%>
    <%= render :partial => "public_info_field", :locals => { :fields => pif } %>
  <% end -%>
</table>

<%= add_object_link "Add field", f, :public_info_fields, @event.public_info_fields.build, 'public_info_field', 'public_info_fields' %>
  