<table>
  <% f.fields_for :public_info_fields do |pif| -%>
    <tr>
      <td>
        <% if pif.object.new_record? -%>
          <%= pif.text_field :name %>
        <% else -%>
          <%=h pif.object.name %>
        <% end -%>
      </td>
      <td>
        <% unless pif.object.new_record? -%>
          (<%= pif.label :_delete, "Remove:" %>
          <%= pif.check_box :_delete %>)
        <% end -%>
      </td>
    </tr>
  <% end -%>
</table>