<% if event.staff.length > 0 -%>
	<div id="stafflist">
	  <h2>Event Staff</h2>
	  <ul>
	    <% event.staff_positions.each do |pos| -%>
	      <% if pos.attendances.size > 0 -%>
	        <li><b><%= pos.name %>:</b>
	          <%= positioned_staffers pos %>
  	        </li>
	      <% end -%>
	    <% end -%>
            <% event.general_staff.each do |staff| -%>
	      <li><%= staff.name %></li>
	    <% end -%>
	  </ul>
	</div>
<% end -%>


