<% if event.staffers.length > 0 -%>
	<div id="stafflist">
	  <h2>Event Staff</h2>
	  <ul>
	    <% event.staffers.each do |staffer| -%>
        <li><%= staffer_for_list staffer %></li>
	    <% end -%>
	  </ul>
	</div>
<% end -%>


