<% if event.staff.length > 0 -%>
	<div id="stafflist">
	  <h2>Event Staff</h2>
	  <ul>
	    <% event.staff_positions.each do |pos| -%>
	      <li><b><%= pos.name %>:</b>
	        <%= pos.attendances.collect {|att| render(:partial => "positioned_staffer", :locals => {:att => att}).strip }.join(', ') %>
	      </li>
	    <% end -%>
            <% event.general_staff.each do |staff| -%>
	      <li><%= staff.name %></li>
	    <% end -%>
	  </ul>
	</div>
<% end -%>


