<% if events.length > 0 -%>
  <ul>
    <% events.each do |event, children| -%>
      <li><%= render :partial => "events/link", :locals => { :event => event } %>
  	  <% if event.start -%>
        - <%= event.start.strftime "%B %d, %Y at %I:%M %p" %><% if event.end %>, <%= event_length event %><% end %>
	    <% end -%>
      <% if children.length > 0 -%>
        <%= render :partial => "events/tree", :locals => { :events => children } %>
      <% end -%>
      </li>
    <% end -%>
  </ul>
<% else -%>
  <p>No events to display.</p>
<% end -%>