<table id="virtual_sites">
  <tr>
    <th>Domain</th>
    <th>Site Template</th>
  </tr>
  <% f.fields_for :virtual_sites do |vs_fields| -%>
    <%= render :partial => 'virtual_site', :locals => { :fields => vs_fields } %>
  <% end -%>
</table>

<%= add_object_link "Add virtual site", f, :virtual_sites, @event.virtual_sites.build, 'virtual_site', 'virtual_sites' %>
  