<% if not @exclude_event -%>
  <div class="sheet">
	    <%= render :partial => "signup_list", :locals => @options.update({ :event => @event }) %>
  </div>
<% end -%>

  <% if @include_children -%>
    <% @event.children.each do |child| -%>
    	<div class="sheet">
    		<%= render :partial => "signup_list", :locals => @options.update({ :event => child }) %>
    	</div>
    <% end -%>
  <% end -%>
