<h1>Agendas for all attendees at <%=h @context.fullname %></h1>

<table style="width: 100%">
  <% @attendees.each do |attendee| -%>
    <tr><td colspan="4"><h2><%=h attendee.lastname %>, <%=h attendee.firstname %></td></tr>

    <%= render :partial => 'event', :collection => context_events(attendee, @attendances_by_person_id[attendee.id]) %>
  <% end -%>
</table>
