<h1>New site_template</h1>

<%= error_messages_for :the_template %>

<% form_for(:the_template, :url => site_templates_path) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Back', site_templates_path %>