<ul class="legend">
  <li>
    <div class="legend_color confirmed"></div>
    Confirmed
  </li>
  <li>
    <div class="legend_color waitlist"></div>
    Waitlisted
  </li>
  <li>
    <div class="legend_color drop"></div>
    Dropped
  </li>
  <li>
    <div class="legend_color uncounted"></div>
    Not counted
  </li>
</ul>