<p>
  <b>Waitlisted:</b>
  <%=h @attendance.is_waitlist %>
</p>

<p>
  <b>Counts:</b>
  <%=h @attendance.counts %>
</p>

<% if can?(:update, @event) -%>
	<%= link_to 'Edit', edit_event_attendance_path(@event, @attendance) %> |
<% end -%>
<%= link_to 'Back', event_attendances_path(@event) %>