<li id="location_<%=loc.id%>"><%=h loc.name %>
  <ul class="loctree" id="child_locations_<%=loc.id%>">
    <%= render :partial => "locations/tree", :locals => { :roots => loc.children, :parent => loc } %>
  </ul>
</li>