<% begin
  # if roots does not exist or is nil, we'll create it
  roots.length
rescue
  roots = Location.find(:all).select { |loc| @context ? loc.events.include?(@context) : loc.parent.nil? }
end -%>
<% parent ||= nil -%>
<% roots.each do |loc| -%>
  <%= render :partial => "location", :locals => { :loc => loc } %>
<% end -%>

<li class="addnew" id="add_location_<%= parent ? parent.id : "root" %>">
  <% remote_form_for(:location, @location, :url => locations_url + ".js", :html => { :method => :post }) do |f| -%>
    <% if parent -%>
      <%= f.hidden_field :parent_id, :value => parent.id %>
    <% end -%>
    <%= f.text_field :name %>
  <% end -%>
</li>
