<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<% if @site_template -%>
  <!-- Laid out using site_template <%=@site_template.id %> -->
<% else -%>
  <!-- Laid out using built-in ProCon site_template -->
<% end -%>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <%= stylesheet_link_tag 'global.css' %>
  <%= stylesheet_link_tag "thickbox", "jquery.autocomplete.css" %>
  <%= javascript_include_tag "jquery", "thickbox", "jquery.ui.all.packed.js", "jquery.bgiframe.min.js", "jquery.autocomplete.pack.js" %>
  <%= javascript_include_tag "application" %>
  <% if @rss_url %>
    <link rel="alternate" title="RSS Feed" href="<%=@rss_url%>" type="application/rss+xml"/>
  <% end %>
   
  <% if not @site_template.themeroller_css.blank? -%>
    <%= stylesheet_link_tag "#{site_template_url(@site_template)}/themeroller.css" %>
  <% else -%>
    <%= stylesheet_link_tag 'themeroller-default.css' %>
  <% end -%>
  <% if not @site_template.css.blank? -%>
  <style type="text/css">
    <%= @site_template.css %>
  </style>
  <% end -%>
  <title><%= page_title %></title>
  <script type="text/javascript">
  $(document).ready(function () {
    $('.ui-default-state').hover(
       function(){$(this).addClass('ui-hover-state');}, 
       function(){$(this).removeClass('ui-hover-state');}
    );
  });
  </script>
</head>
<body id="body">

<% if not @site_template.header.blank? -%>
  <%= @site_template.header %>
<% end -%>

<% if not @hide_chrome -%>
  <div id="topbar" class="ui-active-state">
    <table style="width: 100%">
      <tr>
        <td>
          <h1 id="banner"><%= page_title %></h1>
          <% if @context and @context.parent -%>
            <p><i>Part of 
              <%= link_to @context.parent.fullname, :controller => params[:controller], :context => @context.parent.id %>
              </i></p>
          <% end -%>
          <ul class="nav_links">
            <li class="ui-default-state"><%= link_to "Home", :controller => :main, :action => :index %></li>
            <li class="ui-default-state"><%= link_to "My Events", :controller => :agenda, :action => :index %></li>
            <% if @context and @context.schedules.count(:conditions => ["published = ?", true]) == 1 -%>
              <li class="ui-default-state"><%= link_to "Event Schedule", schedule_path(@context.schedules[0]) %></li>
            <% elsif @context and @context.schedules.count(:conditions => ["published = ?", true]) > 1 -%>
              <li class="ui-default-state"><%= link_to "Event Schedules", schedules_path %></li>
            <% end -%>
            <% if can_edit_event?(procon_profile, :event => @context) -%>
              <li class="ui-default-state"><a href="#" onClick="$('#admin_closed').hide(); $('#admin_open').show();" id="admin_closed">Administration &raquo;</a>
                <span id="admin_open" style="display: none;">
		  <a href="#" onClick="$('#admin_open').hide(); $('#admin_closed').show();" id="admin_closed">&laquo;</a>
		  <ul class="admin_links">
		    <li class="first"><%= link_to "Events", events_path %></li>
  		    <% if @context -%>
		      <li><%= link_to "Attendees", :controller => "agenda", :action => "attendees" %></li>
		    <% end -%>
                    <li><%= link_to "Locations", locations_path %></li>
                    <li><%= link_to "Site Templates", site_templates_path %></li>
                    <li><%= link_to "Schedules", schedules_path %></li>
					<% if superadmin?(procon_profile) -%>
						<li><%= link_to "Virtual Sites", virtual_sites_path %></li>
					<% end -%>
		  </ul>
                </span>
              </li>
            <% end -%>
          </ul>
        </td>
        <td align="right">
          <div id="auth_form">
          	<% if logged_in? -%>
				<%= render :partial => "person_sessions/mini_auth_form" %>
			<% else -%>
				<p><b>Log in</b></p>
				<%= link_to "Click here to log into this site.", :controller => "auth", :action => "login" %>
			<% end -%>
		  </div>
        </td>
      </tr>
    </table>
  </div>
<% end -%>

<% if flash[:error_messages] and flash[:error_messages].length > 0 -%>
  <div class="error_messages">
    <p>There were some errors processing your request:</p>
    <ul>
      <% flash[:error_messages].each do |msg| -%>
        <li><%= msg%></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<div id="content">
  <%= @content_for_layout %>
</div>

<% if not @site_template.footer.blank? -%>
  <%= @site_template.footer %>
<% end -%>

</body>
</html>
